.footer {
    padding: 8rem;
    background-color: $color-secondary;

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
        grid-gap: 2rem;
        align-items: center;

        li {
            padding: 1.5rem;
            list-style: none;
            font-size: 1.4rem;
            color: white;
            text-align: center;
            font-weight: 100;
            transition: .2s;
        }

        li:hover  {
            background-color: rgba(255,255,255,0.1);
            transform: translateY(-3px);
        }
    }

    .p {
        width: 70%;
        font-size: 1.4rem;
        color: $color-grey-light-2;
        text-align: center;
        margin: 6rem auto 0;
    }
}